.layout-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	height: 100%;
	width: 100%;
	max-width: 1760px;
	margin: 0 auto;
	padding: 0 40px;
}

@media screen and (max-width: 1930px) {
	.container {
		max-width: 1560px;
	}
}

@media screen and (max-width: 1600px) {
	.container {
		max-width: 1280px;
	}
}

@media screen and (max-width: 1400px) {
	.container {
		max-width: 900px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		max-width: 700px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.container {
		padding: 0 24px;
	}
}
