.menu-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9;
	display: none;

	.menu-secondary-layer {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: $secondary;
		z-index: -1;
		height: 0;
	}
	.menu-primary-layer {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: $primary;
		height: 0;

		.menu-background {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			filter: brightness(0.5);
			z-index: 0;

			.background {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				transform: scale(1.4);
				background: url('../../assets/images/toronto.jpg') center/cover;
			}
		}

		.menu {
			position: relative;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: min(200px, 20vh);

			.nav {
				&-list {
					&--item {
						overflow: hidden;
						position: relative;

						&__inner {
							font-size: clamp(3rem, 10vw, 8rem);
							font-weight: 700;
							cursor: pointer;
							color: $white;
							white-space: nowrap;
							position: relative;

							a {
								display: block;
								color: #fff;
								text-decoration: none;

								&:hover {
									color: $black;
								}
							}
						}
					}
				}

				&-info {
					max-width: 400px;
					position: relative;
					color: $white;

					&--title {
						position: absolute;
						top: -60%;
						left: 0;
						font-size: 5rem;
						font-weight: 900;
						opacity: 0.1;
					}
					&--text {
						font-size: 1rem;
						font-weight: 300;
						line-height: 1.6;
					}
				}
			}
		}

		.locations-wrapper {
			margin-top: 6rem;
			width: 100%;
			position: relative;
			z-index: 1;

			.locations {
				display: flex;
				align-items: center;
				gap: 20px;

				.location {
					cursor: pointer;
					position: relative;
					// border: 1px solid white;
					padding: 2rem 3vw;

					span {
						color: $white;
						display: inline-block;
						pointer-events: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.menu-wrapper {
		.menu-primary-layer {
			.menu {
				.nav {
					&-info {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.menu-wrapper {
		.menu-primary-layer {
			.menu {
				.nav {
					&-list {
						&--item {
							margin-bottom: 1rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.menu-wrapper {
		.menu-primary-layer {
			.locations-wrapper {
				.locations {
					flex-direction: column;
					align-items: flex-start;
					gap: 10px;

					.location {
						padding: 1.25rem 3vw;
					}
				}
			}
		}
	}
}
